body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s;
}

/* Light Mode Styles */
body {
    background-color: #f0f0f0;
    color: #333; 
}

.sidebar {
    height: 100vh; 
    width: 250px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #fff; 
    overflow-x: hidden; 
    padding-top: 20px; 
    transition: background-color 0.3s; 
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
}

/* Adjust the positioning of the theme switch to be at the top */
.theme-switch-wrapper {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ddd;
    transition: background-color 0.3s;
    margin-bottom: 20px; 
}

#theme-toggle:hover::after {
    content: attr(data-hover-text);
    color: #000;
    position: absolute;
    left: 50%; 
    top: 100%; 
    transform: translate(-50%, 10px); 
    white-space: nowrap;
    font-size: 14px;
    background-color: #f8f9fa;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 1001;
}
.sidebar ul {
    list-style-type: none; 
    padding: 0; 
    margin-top: 80px;
    flex-grow: 1; 
}

.sidebar ul li {
    padding: 8px;
    text-align: left;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #333;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #007bff; 
}

main {
    margin-left: 250px; 
    padding: 20px;
    transition: margin-left 0.3s; 
}

/* Night Mode Styles */
body.night-mode {
    background-color: #333;
    color: #ecf0f1;
}

body.night-mode .sidebar {
    background-color: #000;
}

body.night-mode .sidebar a, body.night-mode .sidebar a:hover {
    color: #ecf0f1; 
}

/* Responsive adjustments */
@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {float: left;}
    main {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}