body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    margin: 0;
}

.sidebar {
    background: #333;
    color: #fff;
    padding: 20px;
    position: fixed;
    height: 100%;
    width: 250px;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
}

.main {
    margin-left: 250px; /* Same as sidebar width */
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.project-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project-card h2 {
    margin: 0;
    padding: 20px;
    background: #007bff;
    color: #fff;
    text-align: center;
}

.project-card p, .project-card ul {
    padding: 0 20px;
    margin: 10px 0;
}

.technologies-used {
    list-style: none;
    padding: 0;
}

.technologies-used li {
    background: #eee;
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    font-size: 0.8em;
}

.project-links {
    margin-top: auto;
    padding: 20px;
    text-align: center;
}

.project-links a {
    text-decoration: none;
    background: #007bff;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 5px;
    transition: background 0.3s ease;
}

.project-links a:hover {
    background: #0056b3;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .main {
        margin-left: 0;
    }
}

/* Dark mode styles */

body.dark-mode .project-card p,
body.dark-mode .technologies-used li {
    color: #e0e0e0; /* Lighter text color for better readability in dark mode */
}

body.dark-mode .project-card {
    background: #333; /* Darker background for project cards in dark mode */
    color: #e0e0e0; /* Ensuring text is readable on the dark background */
}

body.dark-mode .project-card h2,
body.dark-mode .project-links a,
body.dark-mode .technologies-used li {
    color: #e0e0e0; /* Lighter text color for better readability */
}

body.dark-mode .technologies-used li {
    background: #424242; /* Slightly darker background for technology tags to differentiate from the card background */
}