body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s; /* Smooth transition for background color */
}

/* Light Mode Styles */
body {
    background-color: #f0f0f0; /* Nice light grey for the main page */
    color: #333; /* Dark text for light mode */
}

.sidebar {
    height: 100vh; /* Full height */
    width: 250px; /* Sidebar width */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #fff; /* Nice white for the sidebar in light mode */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px; /* Adjust if more space is needed */
    transition: background-color 0.3s; /* Smooth transition for background color */
    display: flex;
    flex-direction: column; /* Aligns items vertically */
    justify-content: center; /* Centers items vertically */
}

/* Adjust the positioning of the theme switch to be at the top */
.theme-switch-wrapper {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ddd;
    transition: background-color 0.3s;
    margin-bottom: 20px; /* Space below the toggle button */
}

.sidebar ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
    margin-top: 60px; /* Adjust based on your design to push nav towards the middle */
    flex-grow: 1; /* Allows the navigation to fill the space */
}

.sidebar ul li {
    padding: 8px;
    text-align: left;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #333; /* Dark text for light mode */
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #007bff; /* Highlight color on hover */
}

main {
    margin-left: 250px; /* Same as the width of the sidebar */
    padding: 20px;
    transition: margin-left 0.3s; /* Smooth transition for margin */
}

/* Night Mode Styles */
body.night-mode {
    background-color: #333; /* Lighter black for the main page */
    color: #ecf0f1; /* Light text for night mode */
}

body.night-mode .sidebar {
    background-color: #000; /* Black for the sidebar */
}

body.night-mode .sidebar a, body.night-mode .sidebar a:hover {
    color: #ecf0f1; /* Light text for night mode */
}

/* Responsive adjustments */
@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {float: left;}
    main {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}